.range.text-center.text-lg-left.section.offset-top-0
  .cell-sm-preffix-2.cell-sm-8.cell-lg-4.cell-xl-3.cell-lg-preffix-0.cell-lg-push-4
    h3.text-regular.text-italic.font-accent Get latest news delivered daily!
    div
      p We will send you breaking news right to your inbox

    //- RD Mailform
    form.offset-top-25.rd-mailform-inline.rd-mailform.form-inline-flex.reveal-xs-flex(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
      .form-wrap.mfInput
        input(id="subscribe-form-email-2",type='text', name='email', data-constraints="@Email @Required")
        label.form-label(for="subscribe-form-email-2") Your E-mail
      button.btn.btn-warning Subscribe
    //- Rd Mailform result field
    .rd-mailform-validate
  .cell-sm-preffix-1.cell-sm-10.cell-lg-4.cell-xl-3.cell-lg-preffix-0.offset-top-45.offset-lg-top-0.cell-lg-push-3
    h6.text-bold Tags

    div.offset-top-20
      ul.element-groups-sm-custom.small.text-italic
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent News
        li
          a(href="world.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent World
        li
          a(href="tech.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Tech
        li
          a(href="business.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Business
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Army
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Travel
        li
          a(href="sports.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Sport
        li
          a(href="culture.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Culture
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Commodities
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent NBA
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent War
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Gadgets
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Health
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Social
        li
          a(href="politics.html").btn.btn-default.btn-sm.btn-rect.text-regular.font-accent Money

  .cell-xs-6.cell-xl-3.cell-lg-2.offset-top-45.offset-lg-top-0
    h6 Categories
    ul.small.text-center.text-lg-left.list-unstyled.list.text-italic.font-accent
      li
        a(href="politics.html") News
      li
        a(href="politics.html") Politics
      li
        a(href="business.html") Business
      li
        a(href="sports.html") Sport
      li
        a(href="culture.html") Culture
      li
        a(href="tech.html") Tech
      li
        a(href="politics.html") Travel
      li
        a(href="politics.html") Videos

  .cell-xs-6.cell-lg-2.cell-xl-3.offset-top-45.offset-lg-top-0
    h6 Information
    ul.small.text-center.text-lg-left.list-unstyled.list.text-italic.font-accent
      li
        a(href="about-us.html") About us
      li
        a(href="contacts.html") Contact us
      li
        a(href="typography.html") Typography
