extends  ../_skeleton

include ../elements/_ui-post-variant-1
include ../elements/_ui-post-variant-2
include ../elements/_ui-post-variant-3
include ../elements/_ui-post-meta
include ../elements/_ui_pagination

block variables
  - var activeIndex = 1
  - var rd_navbar_data_ajuster = {"data-stick-up-offset" : "198", "data-md-layout":'rd-navbar-fullwidth', "data-lg-layout":'rd-navbar-static'}

block title
  title Home - KingNews

block page
  //- Page Header
  include ../_header-default

  //- Page Content
  main.page-content
    section.section-top-50
      .shell
        .range
          .cell-lg-6
            .offset-lg-negative-right-26
              +post-variant-1("images/index-01.jpg", {"#": "News"}, "#", "If Obama Had Governed Like This in 2009, He'd Be the Transformational President We Hoped For", "h1", "880", "662")
                +post-meta()
                  div.post-meta-time
                    time(datetime="2016-06-06") 2h ago


          .cell-lg-6.offset-top-12.offset-lg-top-0.offset-lg-negative-left-26
            .range
              .cell-sm-6
                .offset-lg-negative-right-38.offset-sm-negative-right-23
                  +post-variant-1("images/index-02.jpg", {"#": "Sports"}, "#", "Are the Clippers better off without Blake Griffin?", "h5", "426", "327")
                    +post-meta()
                      div
                        a(href="#").post-meta-time
                          time(datetime="2016-06-06") 2h ago
                  +post-variant-1("images/index-04.jpg", {"#": "News"}, "#", "Two Loser Idaho Pot Smugglers Freak Out, Call 911 on Themselves", "h5 text-italic", "426", "327")
                    +post-meta()
                      div
                        a(href="#").post-meta-time
                          time(datetime="2016-06-06") 2h ago
              .cell-sm-6.offset-top-12.offset-sm-top-0
                .offset-lg-negative-left-14.offset-lg-negative-right-24.offset-sm-negative-left-23
                  +post-variant-1("images/index-03.jpg", {"#": "Tech"}, "#", "Hackers Can Steal Your Financial Info With Your Name and Email", "h5", "426", "327")
                    +post-meta()
                      div
                        a(href="#").post-meta-time
                          time(datetime="2016-06-06") 2h ago
                  +post-variant-1("images/index-05.jpg", {"#": "Travel"}, "#", "Terrorism concerns get UK tourists opting in to 'lighter' holiday spots", "h5", "426", "327")
                    +post-meta()
                      div
                        a(href="#").post-meta-time
                          time(datetime="2016-06-06") 2h ago

    section.section-top-26
      .shell.text-md-left
          //- Responsive-tabs
          .responsive-tabs.responsive-tabs-variant-2
            .heading-divider.offset-bottom-0
              h2 Popular news
            ul.resp-tabs-list
              li All News
              li Politics
              li Business
              li Sports
              li Culture
              li Tech
              li Travel
            .resp-tabs-container.offset-xl-top-45.offset-top-20
              //- Tab content-1
              div
                .range
                  .cell-md-6
                    +post-variant-1("images/index-06.jpg", {"politics.html": "Politics"}, "post-default.html", "Iran nuclear deal makes country so much richer", "h4 text-normal font-accent-2")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago
                    .divider.divider-dashed
                    //- Post-variant-2
                    +post-variant-2("images/index-08.jpg", 238, 182, "", "post-default.html", "Islamic State gets new murders video out", 'Clinton called the prospect of the president sitting on the court a "great idea"', "h5 text-italic text-bold", "unit-lg-horizontal unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago
                    .divider.divider-dashed
                    //- Post-variant-2
                    +post-variant-2("images/index-10.jpg", 238, 182, "", "post-default.html", "Clinton ‘Loves’ Proposal of Appointing Obama to Supreme Court as POTUS", 'Clinton called the prospect of the president sitting on the court a "great idea"', "h5 text-bold", "unit-lg-horizontal unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago


                  .cell-md-6
                    +post-variant-1("images/index-07.jpg", {"politics.html": "Business"}, "post-default.html", "Among 1M refugees, Berlin accepted ISIS terrorists", "h4 text-normal font-accent-2")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago
                    .divider.divider-dashed
                    //- Post-variant-2
                    +post-variant-2("images/index-09.jpg", 238, 182, "", "post-default.html", "HealthCare.gov closes signups — register or get a penalty", 'People who don`t sign up for insurance by Sunday face a potential penalty of at least $695', "h5 text-bold", "unit-lg-horizontal unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago
                    .divider.divider-dashed
                    //- Post-variant-2
                    +post-variant-2("images/index-11.jpg", 238, 182, "", "post-default.html", "LA flight emergently lands as 6 onboard fall ill", 'People who don`t sign up for insurance by Sunday face a potential penalty of at least $695', "h5 text-bold", "unit-lg-horizontal unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

              //- Tab content-2
              div
                .range
                  .cell-md-6
                    +post-variant-1("images/index-07.jpg", {"politics.html": "Politics"}, "post-default.html", "Among 1M refugees, Berlin accepted ISIS terrorists", "h4 text-normal font-accent-2")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

                  .cell-md-6
                    +post-variant-1("images/index-06.jpg", {"politics.html": "Politics"}, "post-default.html", "Iran nuclear deal makes country so much richer", "h4 text-normal font-accent-2")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

              //- Tab content-3
              div
                .range
                  .cell-md-6
                    //- Post-variant-2
                    +post-variant-2("images/index-08.jpg", 238, 182, "", "post-default.html", "Islamic State gets new murders video out", 'Clinton called the prospect of the president sitting on the court a "great idea"', "h5 text-italic text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago
                    .divider.divider-dashed
                    //- Post-variant-2
                    +post-variant-2("images/index-10.jpg", 238, 182, "", "post-default.html", "Clinton ‘Loves’ Proposal of Appointing Obama to Supreme Court as POTUS", 'Clinton called the prospect of the president sitting on the court a "great idea"', "h5 text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

                  .cell-md-6
                    //- Post-variant-2
                    +post-variant-2("images/index-09.jpg", 238, 182, "", "post-default.html", "HealthCare.gov closes signups — register or get a penalty", 'People who don`t sign up for insurance by Sunday face a potential penalty of at least $695', "h5 text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago
                    .divider.divider-dashed
                    //- Post-variant-2
                    +post-variant-2("images/index-11.jpg", 238, 182, "", "post-default.html", "LA flight emergently lands as 6 onboard fall ill", 'People who don`t sign up for insurance by Sunday face a potential penalty of at least $695', "h5 text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

              //- Tab content-4
              div
                .range
                  .cell-md-6
                    //- Post-variant-2
                    +post-variant-2("images/index-10.jpg", 238, 182, "", "post-default.html", "Clinton ‘Loves’ Proposal of Appointing Obama to Supreme Court as POTUS", 'Clinton called the prospect of the president sitting on the court a "great idea"', "h5 text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

                  .cell-md-6
                    //- Post-variant-2
                    +post-variant-2("images/index-11.jpg", 238, 182, "", "post-default.html", "LA flight emergently lands as 6 onboard fall ill", 'People who don`t sign up for insurance by Sunday face a potential penalty of at least $695', "h5 text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago
              //- Tab content-5
              div
                .range
                  .cell-md-6
                    +post-variant-1("images/index-06.jpg", {"politics.html": "Culture"}, "post-default.html", "Iran nuclear deal makes country so much richer", "h4 text-normal font-accent-2")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

                  .cell-md-6
                    +post-variant-1("images/index-07.jpg", {"politics.html": "Culture"}, "post-default.html", "Among 1M refugees, Berlin accepted ISIS terrorists", "h4 text-normal font-accent-2")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago
                    .divider.divider-dashed
                    //- Post-variant-2
                    +post-variant-2("images/index-09.jpg", 238, 182, "", "post-default.html", "HealthCare.gov closes signups — register or get a penalty", 'People who don`t sign up for insurance by Sunday face a potential penalty of at least $695', "h5 text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

              //- Tab content-6
              div
                .range
                  .cell-md-6
                    +post-variant-1("images/index-06.jpg", {"politics.html": "Tech"}, "post-default.html", "Iran nuclear deal makes country so much richer", "h4 text-normal font-accent-2")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

                  .cell-md-6
                    //- Post-variant-2
                    +post-variant-2("images/index-11.jpg", 238, 182, "", "post-default.html", "LA flight emergently lands as 6 onboard fall ill", 'People who don`t sign up for insurance by Sunday face a potential penalty of at least $695', "h5 text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

              //- Tab content-7
              div
                .range
                  .cell-md-6
                    //- Post-variant-2
                    +post-variant-2("images/index-10.jpg", 238, 182, "", "post-default.html", "Clinton ‘Loves’ Proposal of Appointing Obama to Supreme Court as POTUS", 'Clinton called the prospect of the president sitting on the court a "great idea"', "h5 text-bold", "unit-lg-vertical unit-md-vertical unit-sm-horizontal text-sm-left")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago

                  .cell-md-6
                    +post-variant-1("images/index-07.jpg", {"politics.html": "Travel"}, "post-default.html", "Among 1M refugees, Berlin accepted ISIS terrorists", "h4 text-normal font-accent-2")
                      +post-meta()
                        div
                          a(href="politics.html").post-meta-time
                            time(datetime="2016-06-06") 2h ago


          .heading-divider
            h2 Featured news

          .range.offset-top-0
            .text-sm-left.cell-xs-preffix-1.cell-xs-10.cell-sm-6.cell-sm-preffix-0.cell-md-4.offset-top-45.offset-sm-top-0
              //- Post-variant-3
              +post-variant-3("images/index-12.jpg", '337px', '258px', {"politics.html": "Sports"}, "post-default.html", "LeBron’s Cleveland Cavaliers Fire Coach midseason, best ever stats", '', "h5 text-italic text-bold")
                +post-meta()
                  div
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
            .text-sm-left.cell-xs-preffix-1.cell-xs-10.cell-sm-6.cell-sm-preffix-0.cell-md-4.offset-top-45.offset-sm-top-0
              //- Post-variant-3
              +post-variant-3("images/index-13.jpg", '337px', '258px', {"politics.html": "Culture"}, "post-default.html", "Little Guide To Predicting The Oscars Winners & Losers", '', "h5 text-bold")
                +post-meta()
                  div
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
            .text-sm-left.cell-xs-preffix-1.cell-xs-10.cell-sm-6.cell-sm-preffix-0.cell-md-4.offset-top-45.offset-md-top-0
              //- Post-variant-3
              +post-variant-3("images/index-14.jpg", '337px', '258px', {"politics.html": "Culture"}, "post-default.html", "You can now buy the Apple Watch Hermès on the web", '', "h5 text-bold")
                +post-meta()
                  div
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago

            .cell-xl-12.veil.reveal-md-block.offset-top-0
              hr.divider.divider-dashed.offset-top-20
              div.hidden

            .text-sm-left.cell-xs-preffix-1.cell-xs-10.cell-sm-6.cell-sm-preffix-0.cell-md-4.offset-top-45.offset-md-top-0
              //- Post-variant-3
              +post-variant-3("images/index-15.jpg", '337px', '258px', {"politics.html": "Sports"}, "post-default.html", "Texas will continue to employ Vince Young despite his recent arrest", '', "h5 text-bold")
                +post-meta()
                  div
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
            .text-sm-left.cell-xs-preffix-1.cell-xs-10.cell-sm-6.cell-sm-preffix-0.cell-md-4.offset-top-45.offset-md-top-0
              //- Post-variant-3
              +post-variant-3("images/index-16.jpg", '337px', '258px', {"politics.html": "Culture"}, "post-default.html", "Sofia Vergara Files $15M case against a beauty brand", '', "h5 text-bold")
                +post-meta()
                  div
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
            .text-sm-left.cell-xs-preffix-1.cell-xs-10.cell-sm-6.cell-sm-preffix-0.cell-md-4.offset-top-45.offset-md-top-0
              //- Post-variant-3
              +post-variant-3("images/index-17.jpg", '337px', '258px', {"politics.html": "Culture"}, "post-default.html", "NASA & ‘Armageddon Office’are to Protect Us From Doomsday", '', "h5 text-bold")
                +post-meta()
                  div
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago

          .heading-divider.offset-top-25
            h2 Latest news

          //- Post-variant-2
          +post-variant-2("images/index-18.jpg", 150, 115, {"politics.html": "World"}, "post-default.html", "Zika Virus Described in Detail", 'Learn more about symptoms and dangers of this new virus, which recently broke out in African countries and spread across the globe rapidly.', "h5 text-bold", "text-sm-left unit-sm-horizontal unit-md-horizontal unit-lg-horizontal offset-top-25 offset-md-top-0")
            +post-meta()
              div.element-groups-custom
                a(href="categories-list.html").post-meta-author
                  | Brian Williamson
                a(href="politics.html").post-meta-time
                  time(datetime="2016-06-06") 2h ago
                a(href="post-default.html#comments").post-meta-comment 15 Comments
          .divider.divider-dashed
          //- Post-variant-2
          +post-variant-2("images/index-19.jpg", 150, 115, {"politics.html": "World"}, "post-default.html", "Happy National Chocolate Cake Day! ‘GMA’ Viewers Share Decadent Recipes", 'GMA" invited viewers to submit their chocolate cake recipes for a review, as the US celebrates the national chocolate cake day.', "h5 text-bold", "text-sm-left unit-sm-horizontal unit-md-horizontal unit-lg-horizontal")
            +post-meta()
              div.element-groups-custom
                a(href="categories-list.html").post-meta-author
                  | Brian Williamson
                a(href="politics.html").post-meta-time
                  time(datetime="2016-06-06") 2h ago
                a(href="post-default.html#comments").post-meta-comment 15 Comments
          .divider.divider-dashed
          //- Post-variant-2
          +post-variant-2("images/index-20.jpg", 150, 115, {"politics.html": "Sports"}, "post-default.html", "Simmons shows off in College Football once more: LSU vs Georgia", 'NFL had suffered a new harsh, brutal, but yet very interesting game of football this Sunday night. Colleges clashed...', "h5 text-bold", "text-sm-left unit-sm-horizontal unit-md-horizontal unit-lg-horizontal")
            +post-meta()
              div.element-groups-custom
                a(href="categories-list.html").post-meta-author
                  | Brian Williamson
                a(href="politics.html").post-meta-time
                  time(datetime="2016-06-06") 2h ago
                a(href="post-default.html#comments").post-meta-comment 15 Comments
          .divider.divider-dashed
          //- Post-variant-2
          +post-variant-2("images/index-21.jpg", 150, 115, {"politics.html": "Travel"}, "post-default.html", "Qatar Airways will soon launch the world's longest direct flight", 'The airline’s expansion plans include a non-stop route between Doha (Qatar) and Auckland (New Zealand) which, if it takes off, will mean a flight time of 18 hours and 34 minutes for the 9,000+ mile journey. Buckle up!', "h5 text-bold", "text-sm-left unit-sm-horizontal unit-md-horizontal unit-lg-horizontal")
            +post-meta()
              div.element-groups-custom
                a(href="categories-list.html").post-meta-author
                  | Brian Williamson
                a(href="politics.html").post-meta-time
                  time(datetime="2016-06-06") 2h ago
                a(href="post-default.html#comments").post-meta-comment 15 Comments
          .divider.divider-dashed
          //- Post-variant-2
          +post-variant-2("images/index-22.jpg", 150, 115, {"politics.html": "Tech"}, "post-default.html", "Apple Hasn’t Experienced This for the Last 13 Years, but It’s Bracing for It Now", 'Apple is shocked by its first sales decline in 13 years, despite selling a record 74.8 million iPhones in the final three months of 2015.', "h5 text-bold", "text-sm-left unit-sm-horizontal unit-md-horizontal unit-lg-horizontal")
            +post-meta()
              div.element-groups-custom
                a(href="categories-list.html").post-meta-author
                  | Brian Williamson
                a(href="politics.html").post-meta-time
                  time(datetime="2016-06-06") 2h ago
                a(href="post-default.html#comments").post-meta-comment 15 Comments
          .divider.divider-dashed
          //- Post-variant-2
          +post-variant-2("images/index-23.jpg", 150, 115, {"politics.html": "Business"}, "post-default.html", "Illinois budget fix: Just leave bills ignored and unpaid", 'The state of Illinois has found a workaround for a multibillion-dollar budget gap: Just don`t pay $6 billion of your bills.', "h5 text-bold", "text-sm-left unit-sm-horizontal unit-md-horizontal unit-lg-horizontal")
            +post-meta()
              div.element-groups-custom
                a(href="categories-list.html").post-meta-author
                  | Brian Williamson
                a(href="politics.html").post-meta-time
                  time(datetime="2016-06-06") 2h ago
                a(href="post-default.html#comments").post-meta-comment 15 Comments
          .divider.divider-dashed

          +pagination(
          '',
          [
            {
              "link": '#',
              "active": "true"
            },
            {
              "link": '#'
            },
            {
              "link": '#'
            }
          ],
          '#'
          )

          .heading-divider
            h2 World news
          //- Post
          .offset-top-45.range.range-sm-center.range-lg-left.post.post-variant-3
            .cell-sm-10.cell-md-6
              .post-inner
                img.img-responsive.post-image.reveal-inline-block(src="images/index-24.jpg", height="411", width="536", alt="")
                .post-caption.post-caption-lg
                  ul
                    li
                      a(href="politics.html")
                        span.label.label-warning World
            .cell-sm-10.cell-md-6.offset-top-36.offset-md-top-0
              div.h4.text-normal.font-accent-2.offset-top-0
                a.post-link(href='post-default.html')
                  | If Obama Had Ruled Like This in 2009, He'd Be the Reforming President We All Hoped For
              div.post-meta.element-groups-custom.offset-top-12
                a(href="categories-list.html").post-meta-author
                  | Brian Williamson
                a(href="politics.html").post-meta-time
                  time(datetime="2016-06-06") 2h ago
                a(href="post-default.html#comments").post-meta-comment 15 Comments
              p.
                When people tell me that our President has delivered his 7th State of the Union speech recently, I always correct their mistake and tell it was eighth, in fact. On February 24, 2009, the start of Barack Obama’s 2nd month in office, he made an extensive speech on then ongoing Great Recession crisis. He tried to show what his personal vision for a path out was and why it was aligned with a $787 billion stimulus law that was passed that same day. Also, Mr. President talked foreign politics on that same occasion.
              .reveal-xs-flex.range-xs-middle.range-xs-justify.offset-top-25
                a(href="post-default.html").btn.btn-warning Read more
                div.veil.reveal-xs-block
                  +post-meta()

          .divider.divider-dashed
          .range.offset-top-30.offset-md-top-60
            .cell-md-6
              //- Post-variant-2
              +post-variant-2("images/index-25.jpg", 150, 115, "", "post-default.html", '10 Creative Courses That Will Keep You Learning New Things Next Year', '', "h5 text-bold", "unit-lg-horiaontal unit-md-horizontal unit-sm-horizontal text-sm-left")
                +post-meta()
                  div.element-groups-custom
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
                    a(href="post-default.html#comments").post-meta-comment 15 Comments
              .divider.divider-dashed
              //- Post-variant-2
              +post-variant-2("images/index-27.jpg", 150, 115, "", "post-default.html", 'Uber is Using Phone Gyrometers to Check Whether Drivers go Over Speed or Acceleration', '', "h5 text-bold", "unit-lg-horizontal unit-md-horizontal unit-sm-horizontal text-sm-left")
                +post-meta()
                  div.element-groups-custom
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
                    a(href="post-default.html#comments").post-meta-comment 15 Comments
              .divider.divider-dashed
              //- Post-variant-2
              +post-variant-2("images/index-29.jpg", 150, 115, "", "post-default.html", 'Greek Islanders are to be Nominated for Peace Prize After Saving Tens of Thousands Refugees in 2015', '', "h5 text-bold", "unit-lg-horizontal unit-md-horizontal unit-sm-horizontal text-sm-left")
                +post-meta()
                  div.element-groups-custom
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
                    a(href="post-default.html#comments").post-meta-comment 15 Comments

            .cell-md-6
              .divider.divider-dashed.veil-md
              //- Post-variant-2
              +post-variant-2("images/index-26.jpg", 150, 115, "", "post-default.html", 'David Cameron to Do a Last-hope Appeal to Jean-Claude Juncker to Save EU Renegotiation', '', "h5 text-bold", "unit-lg-horizontal unit-md-horizontal unit-sm-horizontal text-sm-left")
                +post-meta()
                  div.element-groups-custom
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
                    a(href="post-default.html#comments").post-meta-comment 15 Comments
              .divider.divider-dashed
              //- Post-variant-2
              +post-variant-2("images/index-28.jpg", 150, 115, "", "post-default.html", 'Woman Claiming £33m Win, Has Washed Lottery Ticket', '', "h5 text-bold", "unit-lg-horizontal unit-md-horizontal unit-sm-horizontal text-sm-left")
                +post-meta()
                  div.element-groups-custom
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
                    a(href="post-default.html#comments").post-meta-comment 15 Comments
              .divider.divider-dashed
              //- Post-variant-2
              +post-variant-2("images/index-30.jpg", 150, 115, "", "post-default.html", '30th Anniversary of the Space Shuttle Challenger Catastrophe, in pictures', '', "h5 text-bold", "unit-lg-horizontal unit-md-horizontal unit-sm-horizontal text-sm-left")
                +post-meta()
                  div.element-groups-custom
                    a(href="politics.html").post-meta-time
                      time(datetime="2016-06-06") 2h ago
                    a(href="post-default.html#comments").post-meta-comment 15 Comments


  //- Page Footer
  include ../_footer-default
