mixin post-meta(metaObj)
  .post-meta.post-meta-hidden-outer
    .post-meta-hidden
      .icon.text-gray.icon-lg.material-icons-share
        ul
          li
            a(href="#").icon.fa.fa-facebook
          li
            a(href="#").icon.fa.fa-twitter
          li
            a(href="#").icon.fa.fa-google-plus
          li
            a(href="#").icon.fa.fa-linkedin
          li
            a(href="#").icon.fa.fa-pinterest
    block