ul.rd-navbar-nav
  li(class=(activeIndex == 1 ? 'active' : ''))
    a(href='./') Home
    //- RD Navbar Dropdown
    ul.rd-navbar-dropdown
      li
        a(href='index-variant-2.html') Home Variant 2
      li
        a(href='categories-grid.html') Grid Layout
      li
        a(href='categories-masonry.html') Masonry Layout
      li
        a(href='categories-list.html') List Layout
      li
        a(href='#') Header Settings
        ul.rd-navbar-dropdown
          li
            a(href='header-variant-1.html') Header style 1
          li
            a(href='header-variant-2.html') Header style 2
          li
            a(href='header-default.html') Header style 3
      li
        a(href='#') Footer Settings
        ul.rd-navbar-dropdown
          li
            a(href='footer-variant-1.html') Footer Style 1
          li
            a(href='footer-default.html') Footer Style 2
          li
            a(href='footer-variant-2.html') Footer style 3
      li
        a(href='#') Sidebar Settings
        ul.rd-navbar-dropdown
          li
            a(href='index.html') Right Sidebar
          li
            a(href='index-sidebar-left.html') Left Sidebar
          li
            a(href='index-sidebar-none.html') No Sidebar
      li
        a(href='typography.html') Typography
      li
        a(href='404.html') 404
  li(class=(activeIndex == 2 ? 'active' : ''))
    a(href='politics.html') Politics

  li(class=(activeIndex == 3 ? 'active' : ''))
    a(href='business.html') Business
  li(class=(activeIndex == 4 ? 'active' : ''))
    a(href='sports.html') Sports
  li(class=(activeIndex == 5 ? 'active' : ''))
    a(href='culture.html') Culture
  li(class=(activeIndex == 6 ? 'active' : ''))
    a(href='tech.html') Tech
  li(class=(activeIndex == 7 ? 'active' : ''))
    a(href='world.html') World
  li(class=(activeIndex == 8 ? 'active' : ''))
    a(href='about-us.html') About
  li(class=(activeIndex == 9 ? 'active' : ''))
    a(href='contacts.html') Contacts
