include elements/_widget-list-social
footer.page-footer
  .shell.offset-top-60
    hr.divider.divider-lg.offset-0
    include sections/_section-footer-01
    hr.divider.divider-offset-top-52
    .range.text-left.offset-top-36
      .cell-md-5.cell-md-push-1.text-center.text-md-right
        +list-social ('','','icon-default')
      .cell-md-7.text-center.text-md-left.offset-top-25.offset-md-top-0
        .brand.reveal-md-inline-block
          a.brand-name(href="./")
            img(src="images/logo-footer.png", alt="", width="237", height="72")
        p.reveal-md-inline-block.offset-top-20.offset-top-md-0.small
          ='© 2016 News King, Inc. '
          a(href="privacy.html") Privacy policy

